@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html{
    font-family: 'Poppins', sans-serif;
}


.blur-bg{
    height: 100vh;
    background-image: url(./images/background.jpg);
    min-height:100%;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);   
    position: relative;

}
.blur-bg +.container{
    height: 100vh;
    background-image: url(./images/background.jpg);
    min-height:100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.main-text{
    margin-top:2.625rem;
    margin-left:4.625rem;
}

.sub-text{
    font-size:1.625rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

h1{
    font-size: 4.625rem;
}

.text{
    color: rgb(77, 77, 77);
}
.cherry{
    color:	#DE3163;
}

.list-unstyled .bi{
    font-size: 1.5rem;
}

.profile-img {
    height: 200px;
    border-radius: 50%;
  }

  hr{   
    border: dotted black 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

@media (max-width:490px){
    .blur-bg +.container{
        height: 100vh;
        background-image: url(./images/background2.jpg);
        min-height:100%;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

}





